<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<!--    <bean id="myDConnectionMaker" class="org.example.DConnectionMaker"/>-->
<!--    <bean id="myNConnectionMaker" class="org.example.NConnectionMaker"/>-->
    <bean id="myLocalDBConnectionMaker" class="org.example.LocalDBConnectionMaker"/>
    <bean id="myProductionDBConnectionMaker" class="org.example.ProductionDBConnectionMaker"/>

    <bean id="userDao" class="org.example.UserDao">
        <property name="connectionMaker" ref="myProductionDBConnectionMaker"/>
    </bean>
</beans>
